.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #c5c5c5;
  font-family: 'Special Elite', cursive;
}

nav {
  display: grid;
  justify-items: center;
  text-align: center;
}
