.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #c5c5c5;
  font-family: 'Special Elite', cursive;
}

nav {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
}

.main-component {
  font-family: 'Poppins', sans-serif;
  color: #c5c5c5;
}

.nav-link a {
  font-family: 'Special Elite', cursive;
  color: #c5c5c5;
  text-decoration: none;
  font-size: 1.3rem;
}
